/* body {
  margin: 0;
  font-family: system-ui,-apple-system,segoe ui,Roboto,helvetica neue,Arial,noto sans,liberation sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
  font-size: var(--bs-body-font-size);
  font-weight: 400;
  font-weight: var(--bs-body-font-weight);
  line-height: 1.5;
  line-height: var(--bs-body-line-height);
  color: #212529;
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #fff;
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
} */

body, html {
  scroll-behavior: smooth;
}

body {
  min-width: 350px;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
}

.container {
  min-height: 48000px;
}

.scene {
  position: -webkit-sticky;
  position: sticky;
  min-height: 100vh;
  top: 0;
  max-width: 100%;
  background: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.section {
  position: absolute;
  background: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  top: 0;
}

.section img  {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(1.1);
  filter: contrast(1.1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 1s ease-out;
}

.dik-banner-2d {
  position: -webkit-sticky;
  position: sticky;
  min-height: 250vh;
  top: 0;
  max-width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

div.dik-banner-2d .banner-container {
  position: absolute;
  background: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  top: 0;
}

div.dik-banner-2d .banner-container img  {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(1.1);
  filter: contrast(1.1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 1s ease-out;
}

div.dik-banner-2d .banner-overlay {
  position: absolute;
  background: #040204;
  height: 100vh;
  width: 100%;
  opacity: 0;
  transition: all .25s ease-out;
}

div.dik-banner-2d .scroll-line {
  position: absolute;
  top: calc(90vh - 200px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  height: 0;
  width: 2px;
  transition: opacity .25s ease-in-out;
  transition: all .25s ease-out;
}

.rest-above {
  position: relative;
  z-index: 100;
}

img.nft {
  width: 100%;
}